.header {
  position: fixed;
  width: 100%;
  z-index: 30;
  top: 0;

  .nav {
    background-color: #f1f1f1;

    &__container {
      display: flex;
      padding: 16px;
      justify-content: space-between;
      align-items: center;
    }

    &__logo img {
      max-width: 100px;
      width: 100%;
      height: auto;

      @include respond("phone") {
        width: 60px;
      }
    }

    &__menu {
      &-bar {
        display: none;
        flex-direction: column;
        row-gap: 6px;
        cursor: pointer;

        div {
          width: 40px;
          height: 4px;
          background-color: black;
          border-radius: 2px;
          transition: all 0.5s;
        }

        &::before {
          content: "";
          width: 40px;
          height: 4px;
          background-color: black;
          border-radius: 2px;
          transition: all 0.5s;
        }

        &::after {
          content: "";
          width: 40px;
          height: 4px;
          background-color: black;
          border-radius: 2px;
          transition: all 0.5s;
        }

        &.active div {
          transform: translatex(150px);
          opacity: 0;
        }

        &.active::after {
          transform: rotate(-45deg) translatey(-15px);
        }

        &.active::before {
          transform: rotate(45deg) translatey(15px);
        }

        @include respond("phone") {
          display: flex;
        }
      }

      &-list {
        display: flex;
        position: unset;
        flex-direction: row;
        min-height: fit-content;
        width: fit-content;
        column-gap: 24px;
        align-items: center;
        color: black;
        list-style: none;

        @include respond("phone") {
          &.active {
            visibility: visible;
            opacity: 1;
          }

          display: flex;
          flex-direction: column;
          position: absolute;
          visibility: hidden;
          opacity: 0;
          top: 90px;
          right: 0;
          left: 0;
          width: 100%;
          padding: 24px 16px;
          transition: opacity 0.35s ease-in-out;
          background-color: #f1f1f1;
        }
      }
    }

    &__item {
      font-size: 1.4rem;
      font-weight: bold;
      position: relative;
      border-bottom: 2px solid transparent;
      transition: border-color 0.35s ease-in;

      &:hover {
        border-color: $color-primary;
      }

      &:focus {
        border-color: $color-primary;
      }

      &.active {
        border-bottom: 2px solid $color-primary;
      }
    }
  }
}
