.footer {
    border-top: 12px solid #E8BE02;
    background: $color-footer;
    min-height: 320px;
    padding: 1rem;

    &--boxes{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        &-box {

            &-title{
                color: $color-header-h3;
                font-size: 20px;
                font-weight: 900;
            }
            &-element{
                color: $color-header-h4;
                font-size: 14px;
                font-weight: 400;
                margin: 0;

                &.join-us{
                    margin-top: 1rem;
                }
            }
        }
    }
}