.hero {
  background: #111111;
  padding: 2rem 0;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 150px 1rem 1rem 1rem;
    min-height: 600px;

    @include respond("tab-port") {
      flex-direction: column;
    }
  }

  &__heading {
    color: #fff;
    font-size: 2rem;
  }

  &__image {
    max-width: 600px;
    width: 100%;
    height: 500px;
    position: relative;

    @include respond("phone") {
      height: 100%;
      margin-top: 40px;
    }

    & svg {
      background: $primary-glow;
    }
  }
}

.about {
  padding: $section-padding;

  &__container {
    display: flex;
    justify-content: center;
  }
}

.projects {
  padding: $section-padding;

  &__container {
    display: flex;
    justify-content: center;
  }
}

.contact {
  padding: $section-padding;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__body {
    display: flex;
    flex-direction: row;

    @include respond("tab-port") {
      flex-direction: column;
    }
  }

  &__form {
    margin: 40px 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-primary;
    border-radius: 10px;
  }
}
