.hero {
  background: #111111;
  padding: 2rem 0;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 150px 1rem 1rem 1rem;
    min-height: 600px;

    @include respond("tab-port") {
      flex-direction: column;
    }
  }

  &__heading {
    color: #fff;
    font-size: 2rem;
  }

  &__image {
    max-width: 600px;
    width: 100%;
    height: 500px;
    position: relative;

    @include respond("phone") {
      height: 100%;
      margin-top: 40px;
    }

    & svg {
      background: $primary-glow;
    }
  }

  &__btn {
    display: block;
    width: fit-content;
    padding: 10px 15px;
    margin: 1rem 0;
    background-color: $color-primary;
    font-size: 1.4rem;
  }
}

.about {
  padding: $section-padding;

  &__container {
    display: flex;
    justify-content: center;
  }
}

.projects {
  padding: $section-padding;

  &__container {
    display: flex;
    justify-content: center;
  }
}

.contact {
  padding: $section-padding;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__body {
    display: flex;
    flex-direction: row;

    @include respond("tab-port") {
      flex-direction: column;
    }
  }

  .form {
    margin: 40px 1rem;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-primary;
    border-radius: 10px;
    max-width: 400px;

    &__group {
      display: flex;
      flex-direction: column;
    }

    &__label {
      color: #818386;
      text-transform: uppercase;
      font-size: 0.8rem;
    }

    &__input {
      width: 300px;
      display: block;
      color: #010712;
      font-weight: 500;
      background: #fcfdfd;
      border: none;
      border-bottom: 1px solid #818386;
      padding: 0.5rem 0;
      margin-bottom: 1rem;
      outline: none;
    }

    &__input::placeholder {
      color: #010712;
    }
    &__input:hover {
      opacity: 0.5;
    }

    &__input:focus {
      opacity: 0.5;
    }

    &__input--area {
      resize: none;
    }

    &__btn {
      display: block;
      background-color: $color-primary;
      color: #fff;
      padding: 10px 20px;
      border: 0;
      transition: background-color 0.3s;
      cursor: pointer;
      font-size: 1.4rem;

      &:hover {
        background-color: $color-primary-hover;
      }
    }

    &__image {
      max-width: 400px;
      padding: 1rem;
      margin: 1rem;
      height: auto;
    }

    .status {
      margin: 10px 0;
      font-weight: bold;

      &--error {
        color: red;
      }
      &--success {
        color: green;
      }
    }
  }
}
